.popup-base .popup-main {
    width: 620px;
    position: relative;
    border-radius: 40px;
    background-color: #fff;
}

.popup-base .popup-main .close {
    position: absolute;
    right: 20px;
    top: 20px;
}