.custom-navigation.data-v-66344a77 {
    height: 80px;
    position: relative;
    box-sizing: content-box;
    text-align: center;
}

.custom-navigation .back.data-v-66344a77 {
    position: absolute;
    left: 20px;
    bottom: 13px;
}