.custom-navigation {
    height: 80px;
    position: relative;
    box-sizing: content-box;
    text-align: center;
}

.custom-navigation .back {
    position: absolute;
    left: 20px;
    bottom: 13px;
}